body {
    background-color: bisque;
}

/* header_styling */

.header,
.header h1 a {
    text-align: center;
    background-color: blueviolet;
    color: beige;
}

header nav a {
    color: rgb(5, 6, 6);
    margin: 20px 70px 0px 60px;
    font-size: 22px;
}



.centered {
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);

}

/* form_styling */
.form {
    border-width: 1px;
    border-radius: 20px;
    text-align: center;
    background-color: antiquewhite;
    box-shadow: 200px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}


.signup {
    border-width: 1px;
    border-radius: 20px;
    height: 700px;
    width: 500px;
    padding: 16px 14px;
    position: relative;
    top: 50px;
    left: 35%;
    text-align: center;
}

.login {

    border-width: 1px;
    border-radius: 20px;
    height: 110%;
    width: 110%;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

}

/* input_styling */
input {
    margin-top: 30px;
    border-radius: 5px;
    padding: 14px 16px;
}

.short {
    width: 200px;
    height: 25px;
}

.long {
    margin-top: 30px;
    border-radius: 5px;
    width: 450px;
    height: 25px;
    padding: 14px 16px;
}

/* buttons */
.login_button {
    border: 0;
    width: 400px;
    height: 50px;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 10px;
    background-color: rgb(51, 152, 219);
    color: aliceblue;

}

.create_account {
    border: 0;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    margin: 20px;
    font-size: 20px;
    background-color: rgb(9, 167, 61);
    color: aliceblue;
}





