

.signup_form {
    border-width: 1px;
    border-radius: 20px;
    height: 700px;
    width: 500px;
    padding: 16px 14px;
    background-color: antiquewhite;
    position: relative;
    top: 50px;
    left: 35%;
    text-align: center;
    box-shadow:0px 0px 20px rgba(0,0,0,0.1);
}

.signup_form .head h1,
p {
  
    font-size: x-large;
}

.head {
 
    bottom: 20px;
    text-align: left;

}


.short_input {
    width: 200px;

}

.long_input {
    border-width: px;
    margin-top: 30px;
    border-radius: 5px;
    width: 450px;
    height: 25px;
    padding: 14px 16px;
}